@{
    ViewData["Title"] = "Privacy Policy";
}
<script src="https://kit.fontawesome.com/5a5b40c670.js" crossorigin="anonymous"></script>
<a href="index.html" class="back-button"><i class="fa-solid fa-arrow-left"></i></a>
<h1>Traffic Data Visualization</h1>
<canvas id="trafficChart" width="400" height="200"></canvas>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="script.js"></script>
