@{
    ViewData["Title"] = "Privacy Policy";
}
<body>
    <a href="index.html" class="back-button"><i class="fa-solid fa-arrow-left"></i></a>
    <h1>Traffic Status Display</h1>
    <div class="map">
        <div class="roadgreen">Road 1</div>
        <div class="roadyellow">Road 2</div>
        <div class="roadred">Road 3</div>
    </div>

</body>
